# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.env
.venv
venv/
.env.*
.pytest_cache/
.mypy_cache/

# ---- Terraform ----
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json
*.tfvars.json
*.tfvars
.terraform.tfstate.lock.info

# ---- IDE / OS ----
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
# ----- misc -----
dist/
build/