apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "price-service.fullname" . }}
  labels:
    {{- include "price-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "price-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "price-service.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: SYMBOLS
              value: {{ .Values.env.symbols | quote }}
            - name: FETCH_INTERVAL_SECONDS
              value: {{ .Values.env.fetchIntervalSeconds | quote }}
            - name: WINDOW_SIZE
              value: {{ .Values.env.windowSize | quote }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
